<app-nav-menu></app-nav-menu>
<body>
  <div name="cards" id="cards">
    <div *ngFor="let item of place" class="card" name="card" (click)="navigateToPlace(item.id)">
      <div class="card-content">
        <div class="card-image" [style.background-image]="getRandomImage(item.id, item.imageCount)">
          <i class=""></i>
        </div>

        <div class="card-info-wrapper">
          <div class="card-info">
            <i class=""></i>
            <div class="card-info-title">
              <h3>{{item.name}}</h3>
              <h4>{{item.type}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </body>

<app-footer></app-footer>
