  <!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>O naszej stronie</h6>
        <p class="text-justify">Pomorze Nadwiślańskie.<br />Ten projekt jest zadaniem całorocznym na zaliczenie czwartej klasy.<br/>Ma on być stroną, na której będzie można przeglądać i czytać o ciekawych atrakcjach turystych na Pomorzu Nadwiślańskim. <br /> Rejon ten stanowi dzisiejsze Woj. Pomorskie oraz Woj. Kujawsko-Pomorskie.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Narzędzia</h6>
        <ul class="footer-links">
          <li><a href="https://angular.io" target="_blank">Angular</a></li>
          <li><a href="https://getbootstrap.com" target="_blank">Bootstrap</a></li>
          <li><a href="https://www.w3schools.com/cs/" target="_blank">C#</a></li>
          <li><a href="https://www.w3schools.com/css/" target="_blank">CSS</a></li>
          <li><a href="https://dotnet.microsoft.com/en-us/" target="_blank">.NET</a></li>
          <li><a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Szybkie Linki</h6>
        <ul class="footer-links">
          <li><a [routerLink]="['/about']">O nas</a></li>
          <li><a [routerLink]="['/places']">Kontakt</a></li>
          <li><a href="https://zslszczecin-my.sharepoint.com/:x:/g/personal/olkowskik_teams_tlimc_szczecin_pl/ESbMPocygANEi2g2XQdjTokBzjnFPZnIrAx5RJUFFfWAPA?rtime=f7oAXGQ-20g" target="_blank">Miejsca - Excel</a></li>
          <li><a href="https://dev.azure.com/olkowskik/pomorzenadwislanskie/_git/pomorzenadw-vapril" target="_blank">Repozytorium</a></li>
          <li><a href="https://dev.azure.com/olkowskik/pomorzenadwislanskie/_deliveryplans/plan/72ed07e9-82e4-484e-a7e8-00969e26c519" target="_blank">Delivery Plan</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Kornel Olkowski 4TB TŁiMC
        </p>
      </div>
    </div>
  </div>
</footer>
