<app-nav-menu></app-nav-menu>
<div class="container">
  <div class="header">{{ selectedPlace?.name }}</div>
  <nav>
    <ul>
      <li>{{ selectedPlace?.type }}</li>
      <li>{{ selectedPlace?.subtype }}</li>
      <li>{{selectedPlace?.city}}</li>
    </ul>
  </nav>
  <div class="flex-container">
    <div class="left-container">
      <div class="description" style="white-space: pre-line;">{{ selectedPlace?.description }}</div>
      <div class="duration">{{ selectedPlace?.duration }}</div>
    </div>
    <div class="right-container">
      <div class="gallery">Image Gallery</div>
    </div>
  </div>
</div>
<app-footer></app-footer>
